body{
    font-family:'Courier New', Courier, monospace;
    background-color:blanchedalmond;
}

h1{
    font-size:50px;
}

.total{
    font-size:25px;
}

ol{
    font-weight:bold;
}

.boxes{
    padding-top:60px;
}